

body[id^=page-question-type-omero] fieldset[id*=id_]{
    margin-top: 20px;
}


body[id^=page-question-type-omero] input[type=submit]{
    width: 150px;
}


body[id^=page-question-type-omero] fieldset.hidden{
    margin-top: 30px;
}

body[id^=page-question-type-omero] div[id*=fgroup_id_buttonar]{
    padding-top: 50px;
    text-align: center;
}

/* hide the default addanswer button */
body[id^=page-question-type-omero] input[name=addanswers]{
    display: none;
}

}