div[id$=modalImageDialogPanel] { /*.modal-image.fade.in {*/
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40%;
    width: 1000px;
}

div[id$=modalImageDialogPanel] .modal-body {
}

div[id$=modalImageDialogPanel-body] {
    position: relative;
    padding: 0 5px 0;
    margin: 0;
}

div[id$=modalImageDialogPanel-graphics_container] {
    paddding: 0;
    margin: 0;
}

div[id$=modalImageDialogPanel] .modal-dialog {
}

div[id$=modalImageDialogPanel-toolbar] {
    margin-right: 0px;
    position: relative;
    top: 505px;
}

div[id$=modalImageDialogPanel-image-lock-container] {
    float: right;
    margin-top: 20px;
}

div[id$=modalImageDialogPanel-image-view-lock] {
    margin-left: 5px;
    width: auto;
}

div[id$=modalImageDialogPanel-update-image-properties] {
    font-size: small;
    margin-left: 3px;
}

div.modal-image-details-viewer {
    margin-top: 530px;
}

div[id$=modalImageDialogPanel-roi-shape-inspector-table-toolbar] {
    /*margin-top: 530px;*/
}

div[id$=modalImageDialogPanel-roitable-panel-container] {
    /*margin-top: 530px;*/
}

div[id$=modalImageDialogPanel-image-description-panel-container] {
    /*margin-top: 530px;*/
}

div[id$=modalImageDialogPanel-image-locale-description-panel] {
    /*margin-top: 530px;*/
    padding: 0px;
    overflow: auto;
    margin-top: -35px;
}

div[id$=modalImageDialogPanel] div[id*=graphics_container] {
    height: 20px;
}

div.bootstrap-table > div.fixed-table-container {
    /*padding: 5px 5px 20px;*/
}

div.fixed-table-container > div.fixed-table-body{
    height: auto;
}

div.table-row-feedback-image-description {
    height: 200px;
    width: 100%;
    overflow: auto;
}